{% extends "base.html" %}

{% block content %}
    <h1>Robot Control</h1>

    <img id="video_frame" src="{{ url_for('video_feed') }}">
    <br>
    <button id="start_camera_btn" class="btn btn-outline-primary">Start Camera</button>
    <button id="stop_camera_btn" class="btn btn-outline-primary">Stop Camera</button>
    <br>
    <button id="move-forward" class="btn btn-outline-primary" onmousedown="startMoveForward()" onmouseup="stopMoveForward()">Move Forward</button>
    <button id="move_backward_button" class="btn btn-outline-primary">Move Backward</button>
    <button id="move_left_button" class="btn btn-outline-primary">Move Left</button>
    <button id="move_right_button" class="btn btn-outline-primary">Move Right</button>
    <br>
        <div id="data_value_0"></div><div id="data_value_1"></div><div id="data_value_2"></div><div id="data_value_3"></div><div id="data_value_4"></div>
    <div id="data_value_5"></div><div id="data_value_6"></div><div id="data_value_7"></div><div id="data_value_8"></div>
    <div id="data_value_9"></div><div id="data_value_10"></div><div id="data_value_11"></div><div id="data_value_12"></div><div id="data_value_13"></div>
    <br>
    <label for="speed_slider" class="form-label">Speed:</label>
    <input type="range" class="form-range"  id="speed_slider" min="0" max="100" step="5" value="50">
    <br>
     <form id="select_mode">
        <input class="form-check-input" type="radio" id="automatic" name="mode" value="automatic" checked>
        <label for="automatic"  class="form-check-label" >Automatic</label>
        <input class="form-check-input" type="radio" id="semi-automatic" name="mode" value="semi-automatic">
        <label for="semi-automatic" class="form-check-label" >Semi-Automatic</label>
        <input class="form-check-input" type="radio" id="manual" name="mode" value="manual">
        <label for="manual" class="form-check-label" >Manual</label>
    </form>
    <br>
     <form id="select_jog">
        <input class="form-check-input" type="radio" id="web-command" name="jog" value="web-jog" checked>
        <label for="web-command" class="form-check-label" >Web Command</label>
        <input class="form-check-input" type="radio" id="radio-command" name="jog" value="rc-jog">
        <label for="radio-command" class="form-check-label" >Radio Command</label>
        <input class="form-check-input" type="radio" id="gamepad" name="jog" value="gamepad">
        <label for="gamepad" class="form-check-label" >Gamepad</label>
    </form>
    <br>
     <form id="formId">
        <label for="front_limit">Front Limit Distance:</label>
        <input type="text" id="front_limit" name="frontLimitDistance">
        <br>
        <label for="rear_limit">Rear Limit Distance:</label>
        <input type="text" id="rear_limit" name="rearLimitDistance">
        <br>
        <button id="saveButton" onclick="saveSettings()">Save</button>
    </form>
    <a href="/settings">Settings</a>
    <div id="joy1Div" style="width:200px;height:200px;margin-bottom:20px;"></div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
     <script src="{{url_for('static', filename='joy.js')}}"></script>
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
{% endblock %}